body {
  background-color: #f1ffe7;
  font-family: "futura";
  scroll-behavior: smooth;
}

#name {
  color: #03312e;
  margin-left: 10rem;
  margin-top: 3rem;
  font-size: 75px;
}

#title {
  margin-left: 10rem;
  margin-top: -4rem;
  font-size: 50px;
  color: #ff1053;
}

#content {
  display: flex;
}
#buttons {
  display: flex;
  flex-direction: column;
  margin-right: 8rem;
  margin-top: 5rem;
  margin-left: 5rem;

  border-radius: 40px;
}
#navbtn {
  margin: 4rem;
  width: 35rem;
  background-color: #66c7f4;
  border: none;
  border-radius: 50px;
  height: 5rem;
  font-size: 30px;
  font-weight: 900;
}

#navbtn:hover {
  background-color: #037171;
}
#splash-img {
  width: 40%;
  margin-top: -3rem;
}

.section-header {
  text-align: center;
  font-size: 50px;
  color: #ff1053;
}

#work,
#about-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#portrait-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
}

#portrait {
  height: 500px;
  width: 500px;
  object-fit: cover;
  border-radius: 300px;
  border: 10px solid #037171;
}

#bio {
  height: 40rem;
  width: 50rem;
  margin-bottom: 5rem;
}

#bio > h2 {
  font-size: 40px;
  color: #66c7f4;
}

#bio > p {
  font-size: 30px;
}

#bio-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#bio-buttons > button {
  display: flex;
  justify-content: center;
  width: 20rem;
  background-color: #66c7f4;
  border: none;
  border-radius: 50px;
  height: 4rem;
  font-size: 30px;
  font-weight: bolder;
  margin: 1rem;
  text-decoration: none;
  color: black;
  align-items: center;
}

#bio-buttons > button:hover {
  background-color: #037171;
  cursor: pointer;
}

#skills {
  width: 100vw;
  height: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.skill-logo {
  width: 5rem;
  height: 5rem;
  object-fit: scale-down;
}

.project {
  width: 35rem;
  height: auto;
  margin: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project > h2 {
  font-size: 30px;
}

.project-image {
  width: 80%;
  margin-bottom: 1rem;
}

.projectbtn {
  width: 20rem;
  height: 3rem;
  background-color: #66c7f4;
  border: 0px;
  border-radius: 40px;
  margin: 0.5rem;
}

.projectbtn:hover {
  background-color: #037171;
}
@media screen and (max-width: 1000px) {
  #name {
    text-align: center;
    font-size: 50px;
    margin: 0rem;
  }
  #title {
    text-align: center;
    margin: 0rem;
    font-size: 30px;
  }
  #content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem;
  }
  .button {
    max-width: 20rem;
  }
  #splash-img {
    width: 80%;
  }
  #portrait {
    width: 400px;
    height: 400px;
    margin: 0rem;
    margin-top: -5rem;
  }
  #bio {
    margin-top: -4rem;
  }
  #skills {
    margin-top: 3rem;
  }
  .skill-logo {
    width: 4rem;
    height: 4rem;
    object-fit: scale-down;
  }
}

@media screen and (max-width: 650px) {
  #skills {
    margin-top: 15rem;
  }
  .skill-logo {
    width: 3rem;
    height: 3rem;
  }
}
